//fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600;700&display=swap');


@import './utils/reset.scss';
@import './utils/vareable';

@import '../../view/components/header/header.scss';
@import '../../view/pages/main/main.scss';
@import '../../view/pages/not-found/not-found.scss';

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 500px;
    width: 100%;
    height: fit-content;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
}

header {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 500px) {
        justify-content: flex-end;
        padding: 10px;
    }
}

main {
    width: 100%;
    height: fit-content;
}

@import './common/common.scss';